# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Models
models/
*.bin
*.pt
*.safetensors

# Raw datasets
w2_dataset/
FATURA_dataset/
SROIE_dataset/
FUNSD_dataset/

# Generated Dataset
dataset/

# Training outputs
results/
tmp_trainer/
tmp_eval/
runs/
checkpoints/

# Experiments (temporary analysis scripts)
experiments/

# Notebooks
.ipynb_checkpoints/

notebooks/MODEL_SAVE_PATH/
*.safetensors

# OS files
.DS_Store

# Logs
*.log